/*( Color Palette: https://coolors.co/2a2f38-385ab7-1b1b32-663399-9185ca
Primary: #1B1B32
Secondary: #2A2F38
Accent: #663399
Accent2: #385AB7
Highlight: #9185CA
)*/

$primary: #1B1B32;
$secondary: #2A2F38;
$accent: #663399;
$accent2: #385AB7;
$highlight: #9185CA;