// src\view\styling\main.scss

@import './colors.scss';
@import './component_style/displaycards.scss';
@import './component_style/layout_items.scss';
@import './component_style/carousel.scss';
@import './page_styling/pages.scss';

body {
    margin: 0;
}

.app {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Inter', sans-serif;
        font-weight: bold; 
    }

    .app-desktop {
        display: grid;
        grid-template-columns: minmax(240px, 15%) 1fr;
        height: 100%;
    }

    .app-mobile {
        display: inline;
        position: relative;
        height: 100%;
        font-size: 0.9rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

}